.header-container {
    display: flex;
    height: 50px;
    padding: var(--sapcing-small);
    background-color: var(--color-medium);
}
.header-counter {
margin-left: auto;
padding-right: var(--sapcing-small);
font-weight: bold;
cursor: pointer;
}